//=== COLORS ===
$text-color: #222222;
$body-background-color: transparent;
$primary-color: #f0e7de;
$secondary-color: #552d54;
$tertiary-color: #7a4b6d;
$disabled: #c6b4b4;


// === FONTS ===
$text-font: "Alegreya Sans", Arial, sans-serif;